.gap {
    gap: 15px;
}

.element-movie {
    flex-shrink: 0;
    width: 250px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.element-movie::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);  
}

.element-movie:hover {
    transform: scale(1.09);
    -webkit-transition: transform 2s;
    filter: drop-shadow(5px 3px 2px #585858);
}

.element-movie:hover::before {
    background-color: rgba(0, 0, 0, .0);
    -webkit-transition: background-color 2s;
}

::-webkit-scrollbar {
    width: 0px;
}

.buttom {
    height: 150px;
}

.buttom:hover {
    background-color: rgba(33, 33, 33, .7) !important;
}

.buttom-prev {
    background: linear-gradient(to right, rgba(33, 33, 33, .7), rgba(33, 33, 33, .6),  rgba(33, 33, 33, .4), rgba(33, 33, 33, .2)) !important;
}

.buttom-next {
    background: linear-gradient(to left, rgba(33, 33, 33, .7), rgba(33, 33, 33, .6),  rgba(33, 33, 33, .4), rgba(33, 33, 33, .2)) !important;
}

.z-index {
    z-index: 10;
}