:root {
  --primary: #50F127;
  --secondary: #212121;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  color: #fff;
}

body {
  font-family: 'Kodchasan';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #292929 !important;
}

.MuiMenu-paper {
  background-color: #212121;
}

.MuiList-root {
  color: 'white';
  background-color: #212121;
}